.main-container {
  background-color: #ce2829;
  height: 400px;
}

.order-button {
  /* position: absolute; */
  align-items: center;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  background-color: gold;
  color: gold;
  margin-top: 30px;
}

.hungry {
  text-decoration: none;
  font-size: larger;
  color: black;
  font-weight: bolder;
}
