.App {
  text-align: center;
  min-height: 100vh;
  /* background-image: url("./components/MVP-Home.png"); */
  /* background-repeat: no-repeat; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App header,
nav {
  background-color: #ce2829;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

header button,
h2 {
  /* background-color: rgb(74, 66, 95); */
  /* border-radius: 20px; */
  border: none;
  padding: 5px;
  height: 2px;
  font-size: large;
}

header button {
  margin-left: 20px;
  background-color: #ce2829;
}

header .active,
.order {
  text-decoration: none;
  color: white;
  /* background-color: #b8cf0d; */
}

/* .content {
  height: 100vh;
}

.main,
h1 {
  margin: 0;
  height: 61px;
  background-color: #ce2829;
  color: white;
} */
